<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated virtioqueue -->
      <package
            uri="http://www.virtio.org/virtioqueue"
            class="org.virtio.model.virtioqueue.VirtioqueuePackage"
            genModel="model/virtioqueue.genmodel"/>
   </extension>

</plugin>
