<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated virtiodriver -->
      <package
            uri="http://www.virtio.org/virtiodriver"
            class="org.virtio.model.virtiodriver.VirtiodriverPackage"
            genModel="model/virtiodriver.genmodel"/>
   </extension>

</plugin>
